.falta-item {
  background: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  border-left: 5px solid #e11d48;
}
.count { font-weight: bold; color: #e11d48; }